.mde-photo-edit {
  display: none;
  textarea {
    @extend .mde-textarea;
    max-height: 80px !important;
    margin-top: 4px;
  }
  &__clear-div {
    display: none;
  }
  &__wrapper div {
    &:nth-child(6n) {
      display: block;
      clear: both;
      border-top: 1px solid #CCC;
      margin-bottom: 12px;
    }
    &:nth-child(18) {
      //border-top: none;
    }
  }
  &__elem-cont {
    @extend .col-md-4;
    padding-top: 10px;
    margin-bottom: 6px;
  }
  &__img-cont {
    min-width: 206px;
    //min-width: 100%;
    min-height: 153px;
    width: 100%;
    height: 153px;
    //max-height: 153px;
    overflow: hidden;
    position: relative;
    //border: 1px solid blue;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    > div {
      display: inline-block;
      max-height: 153px;
      overflow: hidden;
      vertical-align: middle;
    }
  }
  &__img {
    @include img-max-size(100%, auto);
    position: relative;
    z-index: 1;
    vertical-align: middle;
  }
  &__btn-cont {
    margin-top: -20px;
    text-align: center;
    vertical-align: middle;
    clear: left;
  }
  &__btn-cont > div {
    display: inline-block;
    vertical-align: middle;
  }
  &__title-edit {
    display: block;
    margin-bottom: 12px;
    span:first-child {
      @extend .mde-title;
      display: inline-block !important;
      float: left;
      width: 160px;
      margin-top: 2px;
    }
    span:nth-child(2) {;
      display: block;
      margin-left: 170px;
    }
    input {
      width: 100%;
      padding: 2px 6px;
    }
  }
  &__input-photo-load {
    display: none;
  }
  &__clear {
    clear: left
  }
}

.mde-photo-edit {
  #elem-cont-template {
    display: none;
  }
  .ctrl-btn a {
    opacity: 0;
    transition: opacity 0.4s ease 0.1s;
  }
  .ctrl-btn .ctrl-btn__del {
    right: 10px;
    top: 10px;
  }
  &__elem-cont {
    &:hover .ctrl-btn .ctrl-btn__del {
      opacity: 1;
    }
  }
}

.mde-photo-edit {
  .mde-btn-cont__save-btn {
    width: auto;
    display: inline-block;
    .button {
      padding: 0 20px;
    }
  }
  .mde-btn-cont__cancel-btn {
    margin-right: 0;
  }
  &__add-btn {
    margin-top: 20px;
    margin-right: 15px;
    width: auto;
    .button {
      padding: 0 20px;
    }
  }
}