.img-upload {
  text-align: center;
  display: none;
  &__wrapper {
    display: inline-block;
  }
  /* ---- CropIt ---- */
  .image-cropper {
    padding: 50px;
    width: 500px;
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .cropit-image-preview-container {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 1px dashed #999;
    box-sizing: content-box;
  }
  .cropit-image-preview {
    /* You can specify preview size in CSS */
    width: 200px;
    height: 200px;
    cursor: grab;
  }
  .cropit-image-background {
    opacity: .2;
  }
  /* ---- Слайдер ---- */
  .slider-wrapper {
//    border: 1px solid blue;
    height: 22px;
    vertical-align: middle;
    text-align: center;
  }
  .cropit-slider {
    display: inline-block;
    width: 150px;
    margin: 0 18px;
    vertical-align: middle;
  }
  .icon-image {
    display: inline-block;
    @extend %icon;
    @extend %icon_image;
    @include icon_size(20px);
    vertical-align: middle;
  }
  .icon-image.small-image {
    @include icon_size(16px);
  }
  .js-open-file, .js-reset-file {
    display: none;
  }

  /* ---- Кнопки ---- */
  &__btn-cont {
    display: inline-block;
    margin: 0 auto;
  }
  &__select-image-btn, &__download-image-btn {
    float: left;
    width: 140px;
  }
  &__select-image-btn {
    width: 200px;
    margin-right: 20px;
  }

  /* ---- Подсказки ---- */
  &__help, &__help2 {
    font-family: "Cheeseusaceu", serif;
    font-size: 1.8rem;
    color: #666;
    width: 150px;
//    border: 1px solid red;
    position: absolute;
    top:50%; left: 50%;
    margin-left: 130px;
    i {
      background:  url('%=staticPrefixForCss=%general/lk/arrowDown.png') 0 0 no-repeat;
      width: 71px; height: 36px;
      position: absolute;
      display: block;
      transform: scale(-1, 1);
      left: -75px;
      top: 10px;
    }
  }
  &__help {
    top: 67px;
  }
  &__help2 {
    margin-top: 40px;
    left: auto; right: 50%;
    margin-left: auto;
    margin-right: 120px;
    i {
      transform: scale(1, -1) rotate(-50deg);
      left: auto;
      right: 0;
      top: auto;
      bottom: -38px;
    }
  }
}