// Common styles of the project
*, :before, :after {
    box-sizing: border-box;
}

html {font-size: 62.5%}
body {font-size: 1.4rem; font-family: 'PT Sans Caption', sans-serif;} /* 1rem = 10px */

html, body {
    height: 100%;
    background-color: $color-bg;
    color: $color-text;
}
/* ---- Затемняем неактивную область ---- */
body:after {
    content: '';
    position: fixed;
    display: block;
    z-index: -1;
    background-color: rgba(0,0,0,0.0);
    transition: background-color 0.4s ease-in-out 0.3s;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
}
body.blackout:after {
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
}
/* -------- */

.bg {
    &_grey {
        background: $color-bg-grey-light;
    }
    &_orange {
        background: $color-orange;
    }
}

.format {
    ul, ol {
        line-height: 1.3em;
        margin-bottom: 14px;
        margin-top: 14px
    }
    ul li {
        position: relative;
        padding-left: 17px;
        padding-right: 20px;
        margin-bottom: 10px;
    }
    ul li:before {
        content: "—";
        position: absolute;
        left: 0px;
    }
    p {
        margin-bottom: 10px;
    }
}

h1, .h1 {
    font-size: 25px; /*ie8*/
    font-size: 1.5625rem;
    font-weight: normal;
}

.h1_style {
    text-transform: uppercase;
    color: $color-orange;
    font-weight: bold
}
h2, .h2{
    font-size: 22px; /*ie8*/
    font-weight: bold;
    margin-bottom: 5px;
    color: $color-text;
    text-transform: uppercase;
    @include font-tuning(22, 26);
}

p {line-height: 1.3em}



/*-------Структура страницы-------*/

$footer-height-lg: 80px; //высота футера-lg
$footer-height-md: 90px; //высота футера-md
$footer-height-sm:100px; //высота футера-sm
$footer-height-xs:110px; //высота футера-xs

.page {}
.page__wrapper {
    margin-bottom: -$footer-height-lg; //место для футера
    min-height: 100%;
    display: block;
    @include at(md) {
        margin-bottom: -$footer-height-md;
    }
    @include at(sm) {
        margin-bottom: -$footer-height-sm;
    }
    @include at(xs) {
        margin-bottom: -$footer-height-xs;
    }
}
* html .page__wrapper {height: 100%;}
.page__buffer {
    height: $footer-height-lg + 20px;
    @include at(md) {
        height: $footer-height-md + 20px;
    }
    @include at(sm) {
        height: $footer-height-sm + 20px;
    }
    @include at(xs) {
        height: $footer-height-xs + 20px;
    }
}
.page__footer {
    height: $footer-height-lg;
//    border: 1px solid blue;
    @include at(md) {
        height: $footer-height-md;
    }
    @include at(sm) {
        height: $footer-height-sm;
    }
    @include at(xs) {
        height: $footer-height-xs;
    }
}
/*-----Структура страницы-конец-----*/



/*--------Базовая разметка сайта-------*/
/* Вынес вниз */
/*---Базовая разметка сайта - конец---*/



/* Размеры обычной кнопки */
@mixin button-mid () {
    width: $button-mid-width;
    height: $button-mid-height;
}
@mixin img-max-size ($max-width, $max-height) {
    max-width: $max-width;
    max-height: $max-height;
    width: auto;
    height: auto;
}
.standard-error {
    padding: 8px 10px;
    background-color: $color-bg-warning;
    color: #333;
    font-weight: bold;
    font-size: 1.1rem;
}


//
// Grid system
// --------------------------------------------------

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
    @include container-fixed;

    @media (max-width: $screen-sm-min - 1) {
        width: $container-xs;
    }
    @media (min-width: $screen-sm-min) {
        width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
        width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
        width: $container-lg;
    }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
    @include container-fixed;
}

// Row
//
// Rows contain and clear the floats of your columns.

.row {
    @include make-row;
}

// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns;

// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

@include make-grid(xs);

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: $screen-sm-min) {
    @include make-grid(sm);
}

// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: $screen-md-min) {
    @include make-grid(md);
}

// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-lg-min) {
    @include make-grid(lg);
}

.page-title {
    &_landing {
        text-align: center;
        font-weight: bold;
        color: $color-orange;
        @include at(lg) {
            @include font-tuning(35, 42);
        }
        @include at(md) {
            @include font-tuning(30, 36);
        }
        @include at(sm) {
            @include font-tuning(21, 28);
        }
        @include at(xs) {
            @include font-tuning(18, 25);
        }
    }
}

.sub-title {
    @include at(lg) {
        @include font-tuning(25, 46);
    }
    @include at(md) {
        @include font-tuning(20, 25);
    }
    @include at(sm) {
        @include font-tuning(17, 23);
    }
    @include at(xs) {
        @include font-tuning(15, 20);
    }
}


/* Вынесенно сюда, что бы при extend не затерало переопределенные значения*/

/*--------Базовая разметка сайта-------*/
//.main-page>* {min-height: 70px !important} //убрать
/* Три колонки */
.main-page {
    $border-true: 0px; //нарисовать вспомогательные рамки
    &__top {
        border: $border-true solid orange; //убрать
        min-height: 0 !important;
        padding: 10px 0;
    }
    &__column-header {
        border: $border-true solid yellowgreen;  //убрать
        @extend .col-lg-9;
        padding: 0;
        padding-bottom: 10px;
    }
    &__column-1 {
        border: $border-true solid yellowgreen;  //убрать
        @extend .col-lg-3;
        padding-left: 0;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    &__column-2 {
        border: $border-true solid deeppink;  //убрать
        @extend .col-lg-6;
        padding: 0;
    }
    &__column-3 {
        border: $border-true solid red;  //убрать
        @extend .col-lg-3;
        padding-right: 0;
        float: right;       //крайняя правая колонка, подключается первой в html
        min-height: 100px;  //минимальная высота, что бы другие колонки не заняли её место
    }
}
/* Две колонки */
.main-page_two-column {
    .main-page {
        &__column-header {
            @extend .col-lg-12;
            padding: 0 0 10px 0;
        }
        &__column-2 {
            @extend .col-lg-9;
            padding: 0;
        }
        &__column-3 {
            display: none; //скрываем третью колонку если забыли убрать её из html
        }
    }
}
/*---Базовая разметка сайта - конец---*/