.mde-contact {
  &__list {
    margin-left: 20px;
    font-size: 1.2rem;
    li {
      margin: 10px 0;
    }
  }
  &__anch {color: $color-orange; font-size: 1.2rem}
  &__onmap {margin-left: 28px; font-size: 1.4rem}
  &__phone-ico, &__email-ico, &__skype-ico, &__icq-ico, &__placemark-ico {
    @extend %icon;
    @extend %icon_inline;
    @include icon_size(18px);
    margin-right: 10px;
    margin-top: -3px;
    vertical-align: middle;

  }
  &__phone-ico {@extend %icon_phone;}
  &__skype-ico {@extend %icon_skype;}
  &__email-ico {@extend %icon_email;}
  &__icq-ico {@extend %icon_icq;}
  &__placemark-ico {@extend %icon_placemark;}
}