.mde-discounts-and-gifts {
  &__discounts-cont, &__add-new-cont {
//    width: 350px;
    @extend .col-md-6;
    height:135px;
    padding-left: 0;
    padding-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  &__add-new-cont  {
    display: none;
    line-height:135px;
  }
  &__clear {clear: both}
}