.mde-discounts-and-gifts {
  &__discounts-cont {
//    width: 350px;
    @extend .col-md-6;
    height:135px;
    padding-left: 0;
    padding-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  &__clear {clear: both}
}