.button {
  display: block;
  border: 1px solid;
  text-align: center;
  height: $button-mid-height;
  line-height: $button-mid-height;
  color: $color-bg-grey-exdark;
  font-weight: bold;
  text-decoration: none;
  //  font-size: 1.4rem;
  text-transform: uppercase;
  &:hover {
    color: #333;
  }
  &_orange {
    color: $color-text-white;
    background-color: $color-orange;
    border: $color-orange;
    &:hover {
      color: $color-text-white;
      background-color: $color-orange-light;
    }
  }
  &_grey {
    font-size: 1.1rem;
    text-transform: none;
    color: $color-text-dark;
    background-color: $color-bg-grey-medium;
    border: $color-bg-grey-medium;
    &:hover {
      color: $color-text-dark;
      background-color: $color-bg-grey-xmedium;
    }
  }
}