.discounts {
  min-height: 134px;
  position: relative;
  &:hover a + .discounts__header {
    background-color: $color-orange-light;
  }
  &__url {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    z-index: 10;
  }
  &__header {
    background-color: $color-orange;
    color: #FFF;
    height: 34px;
    line-height: 34px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    position: relative;
  }
  &__edit, &__del {
    display: none;
    height: inherit;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(255,255,255,0.2);
    width: 34px;
    padding: 8px;
    span {
      display: block;
      @extend %icon;
      @include icon_size(20px);
      opacity: 0.8;
    }
    &:hover {
      background-color: rgba(255,255,255,0.4);
      span { opacity: 1; }
    }
  }
  &__del {
    span {
      @extend %icon_close;
    }
  }
  &__edit {
    right: 34px;
    span {
      @extend %icon_pencil_edit;
    }
  }
  &__img-cont {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 12px;
    position: relative;
    float: left;
    background-color: $color-bg-grey-light;
  }
  &__bg-ico {
    @extend %icon;
    @extend %icon_gift_grey_light;
    @extend %icon_block;
    @include icon_size(70px);
    position: absolute;
    left: 15px;
    top: 13px;
    z-index: 0;
  }
  &__img {
    @include img-max-size(100px, 100px);
    position: relative;
    z-index: 1;
  }
  &__wrapper {
    background-color: $color-bg-grey-xmedium;
  }
  &__text {padding-top: 10px; padding-right: 10px}
  &__clear {clear: both}
  &_edit {
    .discounts {
      &__url {display: none}
      &__edit, &__del {display: block}
    }
    &:hover a + .discounts__header {
      background-color: $color-orange;
    }
  }
}