.master-request-view {
  &__table {
    font-size: 1.2rem;
    position: relative;
  }
  &__table td {
    //    border: 1px solid blue;
    padding: 10px 8px;
  }
  &__table thead {
    background-color: #EEE;
  }
  &__table tbody {
    margin: 20px 0;
    position: relative;
  }
  &__table tbody:nth-child(odd) {
    background-color: #EEE;
  }
  &__table tbody tr:nth-child(2) td {
    padding-bottom: 40px;
  }
}