.lk-menu {
  margin-bottom: 20px;
  &__anch {
    line-height: 44px;
    height: 44px;
    display: block;
    background-color: #E6E7E8;
    text-decoration: none;
    padding-left: 1.2rem;
    color: $color-text-dark;
    &:hover {
      background-color: #D9D9D9;
      color: $color-text-dark;
    }
    &_highlight {
      background-color: $color-orange;
      color: $color-text-white;
//      font-weight: bold;
//      letter-spacing: 0.1em;
      &:hover {
        background-color: $color-orange;
        color: $color-text-white;
      }
    }
  }
  &__list {
    height: 44px;
    line-height: 44px;
    text-transform: uppercase;
    display: block;
    font-size: 1.2rem;
    &_empty {
      height: 20px;
    }
  }
}