.schedule-and-condition {
  &_edit {
    label {
      //display: block;
      input {
        margin-right: 4px;
      }
      span {
        display: inline-block;
        max-width: 86%;
      }
    }
    label * {
      vertical-align: middle;
    }
  }
}
.schedule-and-condition_edit {
  display: none;
  .schedule-and-condition {
    &__list-cont[id*=mde-schedule] {
      display: none;
    }
    &__list {
      * {
        vertical-align: middle;
      }
      &_timetable {
        li {
          margin-bottom: 4px;
        }
        label {
          display: inline-block;
          width: 50px;
          margin-bottom: 1px;
        }
        select {
          margin: 0 4px;
        }
      }
    }
    &__list li li {
      padding-left: 20px;
      label input {
        vertical-align: top;
        position: relative;
        top: 3px;
      }
    }
    &__list-big-cont {
      &_wide {
        width: 100%;
      }
    }
  }
}