.user-info-head {
  $block-height: 55px;
  position: relative;
  height: $block-height;
  border-top: 1px solid transparent;
  &__icon-cont {
    width: $block-height; height: $block-height;
    background-color: $color-bg-grey-light;
    position: absolute;
    left: 20px;
    padding: 5px;
  }
  &__icon {
    @extend %icon;
    @extend %icon_man;
    @extend %icon_block;
    @include icon_size(45px);
  }
  &__name {
    height: 33px; line-height: 33px;
    margin-top:11px;
    padding-left: $block-height + 30px;
    font-weight: bold;
    background-color: $color-bg-grey-light;
    color: $color-bg-grey-exdark;
    font-size: 1.8rem;
  }
}