.ctrl-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: none;
  &__edit, &__del, &__publish, &__not-publish {
    height: inherit;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(255,255,255,0.2);
    width: 34px;
    padding: 7px;
    span {
      display: block;
      @extend %icon;
      @include icon_size(20px);
      opacity: 0.8;
    }
    &:hover {
      background-color: rgba(255,255,255,0.4);
      span { opacity: 1; }
    }
  }
  &__del {
    span {
      @extend %icon_close;
    }
  }
  &__edit {
    right: 34px;
    span {
      @extend %icon_pencil_edit;
    }
  }
  &__publish {
    right: 68px;
    padding: 4px;
    span {
      @include icon_size(26px);
      @extend %icon_close_eye;
    }
    &:hover span {
      @extend %icon_open_eye;
    }
  }
  &__not-publish {
    right: 68px;
    padding: 4px;
    span {
      @include icon_size(26px);
      @extend %icon_open_eye;
    }
    &:hover span {
      @extend %icon_close_eye;
    }
  }
  &_vertical {
    height: auto;
    a {
      right: 0;
      height: 32px;
      padding: 6px 7px;
      background-color: rgba(255,255,255,0.7);
      &:hover {
        background-color: rgba(255,255,255,0.9);
      }
    }
    .ctrl-btn {
      &__edit {
        top: 34px;
      }
      &__publish, &__not-publish {
        top: 68px;
        padding: 3px 4px;
      }
    }
  }
}