.add-new-cont {
  height: inherit;
  line-height: inherit;
  a {
    display: block;
    height: inherit;
    line-height: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    background-color: $color-bg-grey-light;
    vertical-align: middle;
    &:hover {
      background-color: $color-bg-grey-light - #111111;
    }
  }
  span {
    font-size: 5rem;
    vertical-align: middle;
    position: relative;
    top: -3px;
    margin-right: 6px;
  }
}